body { background-color: #f0f0f0; color: #333; }

#chartdiv {
  width: 100%;
  height: 450px; /* Updated to make the chart larger */
}

.section-title-icon::before {
  content: '';
  display: block !important;
  width: 25px !important;
  height: 25px !important;
  background-color: purple !important; /* Extremely contrasting color */
  border-radius: 4px !important;
  margin-right: 10px !important;
  vertical-align: middle !important;
} 